+++
title = "PopUpGardens"
linkTitle = "PopUpGardens"

+++

{{< blocks/cover title="Welcome to PopUpGardens" image_anchor="top" height="full" color="orange" >}}
<div class="mx-auto">
	<a class="btn btn-lg btn-primary mr-3 mb-4" href="{{< relref "/docs" >}}">
		Research <i class="fas fa-arrow-alt-circle-right ml-2"></i>
	</a>
	<a class="btn btn-lg btn-secondary mr-3 mb-4" href="https://github.com/google/docsy-example">
		Education <i class="fas fa-arrow-alt-circle-right ml-2"></i>
	</a>
	<p class="lead mt-5">Poplar common gardens aross the US for research and education </p>
	{{< blocks/link-down color="info" >}}
</div>
{{< /blocks/cover >}}


{{% blocks/lead color="primary" %}}

This is a place to breifly explain the overarching goals of the project

{{% /blocks/lead %}}

{{< blocks/section color="dark" >}}
{{% blocks/feature icon="fa-leaf" title="Educational Resources" %}}
Browse our lesson plans for teaching concepts in ecology and evolution in the gardens, in the classroom, and in your home

Please follow this space for updates!
{{% /blocks/feature %}}


{{% blocks/feature icon="fa-school" title="Get Involved!" url="https://github.com/google/docsy-example" %}}
See if your school can get involved. Click [here_dead_link](https://github.com/arboreta_lists) to find ways your class can join the project!
{{% /blocks/feature %}}


{{% blocks/feature icon="fab fa-twitter" title="Follow us on Twitter!" url="https://twitter.com/docsydocs" %}}
If we wanted to do social media...
{{% /blocks/feature %}}


{{< /blocks/section >}}


{{< blocks/section >}}
<div class="col">
<h1 class="text-center">This is the second Section</h1>
</div>

{{< /blocks/section >}}



{{< blocks/section >}}
<div class="col">
<h1 class="text-center">Another Section</h1>
</div>


{{< /blocks/section >}}

{{< blocks/section >}}

<div class="col-12">
<h1 class="text-center">This is another Section</h1>
</div>

{{< /blocks/section >}}
